@import '@/shared/styles/variables.scss';

.spinner {
  display: inline-block;
}

.circle {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.sm .circle {
  width: 1rem;
  height: 1rem;
}

.md .circle {
  width: 1.5rem;
  height: 1.5rem;
}

.lg .circle {
  width: 2rem;
  height: 2rem;
  border-width: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}