@import '@/shared/styles/variables.scss';
@import '@/shared/styles/mixins.scss';

.card {
  @include card-base;

  // Padding variations
  &.sm {
    padding: $spacing-sm;
  }

  &.md {
    padding: $spacing-md;
  }

  &.lg {
    padding: $spacing-lg;
  }
}